<!DOCTYPE html>
<html>
<head>
    <title>Alan Partridge Fansite</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<img id="alan-partridge" src="static/alan-partridge.jpg" />

<script>
  const audio = new Audio();
  const sounds = [
    "static/Queen is dead.mp3",
    // Add more sound files as needed
  ];

  const image = document.getElementById("alan-partridge");
  let x = 0;
  let y = 0;
  let directionX = 1;
  let directionY = 1;

  setInterval(function () {
    x += directionX;
    y += directionY;

    if (x + image.offsetWidth > window.innerWidth || x < 0) {
      directionX *= -1;
    }

    if (y + image.offsetHeight > window.innerHeight || y < 0) {
      directionY *= -1;
    }

    image.style.left = x + "px";
    image.style.top = y + "px";

    // Update the volume based on the position of the image
    const volume = 1 - Math.min(1, Math.max(0, (y + image.offsetHeight) / window.innerHeight));
    audio.volume = volume;
  }, 1);

  // Pick a random sound and play it
  audio.src = sounds[Math.floor(Math.random() * sounds.length)];
  audio.play();
</script>

<nav>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('contact') }}">Contact</a>
</nav>

<ul>
    {% for fact in facts %}
    <li>{{ fact }}</li>
    {% endfor %}
</ul>
<button onclick="generateQuote()">Random Alan Quote</button>
<script>
    function generateQuote() {
        fetch('/quote')
        .then(response => response.text())
        .then(data => {
            document.getElementById("quote").style.display = "block";
            document.getElementById("quote").innerHTML = data;

        });
    }

</script>
<blockquote id="quote" style="display: none;">{{ quote }}</blockquote>

</body>